---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Pricing from '~/components/widgets/Pricing.astro';

const metadata = {
  title: '积木好课：技术创造价值',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '开始学习',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
      },
      { text: '浏览文章', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <p class="mb-2 leading-normal"><span class="text-accent dark:text-white">现在投资自己</span></p>
      <p class="leading-normal">掌握终身可用的技术</p>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <p>快速掌握现实生产不可或缺的软件操作技能。</p><p>
          AutoCAD技术、Solidworks技术，直接服务于我们的客户定制需求、产品开发设计于宣传。
        </p>
        <p>-</p>
      </span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="AutoCAD课程"
    title="最全面的AutoCAD视频教程!"
    items={[
      {
        title: '二维制图',
        description:
          '零基础学员可学，从零入门AutoCAD技术，首先学习二维制图，包含基础图形绘制、尺寸标注、对象编辑、图层排版和打印出图等。',
      },
      {
        title: '三维建模',
        description:
          '全网唯一全面的三维建模包含全部类型：三维实体、网格和曲面建模技术，通用于建筑、机械、化工、土木等多个行业。',
      },
      {
        title: '高级渲染',
        description:
          '三维模型贴上贴图，添加材质和布景，选择合适灯光，渲染出效果图。不仅为产品可视化直接服务，更为了客户了解产品而服务。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Autodesk官方认证教师原创课程</h3>
      零基础学员可学，从零入门二维制图、三维建模，最后是高级渲染。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: '零基础入门草图和特征建模',
        description: '从草图绘制和编辑零基础开始学习，到三维特征建模，本阶段解决软件核心建模技能的学习。',
      },
      {
        title: '钣金和焊件',
        description: '钣金和焊件，还有铸造件。全面概述，细节和经验加持，直接服务于现在的项目。',
      },
      {
        title: '管路模块',
        description: '复杂管路轻松设计，管路模块比我们想象的应用更为广泛。',
      },
      {
        title: '电气和其他',
        description: `电气专业的福利。其他还有有限元模拟和仿真。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Solidworks全面系统课程</h3>
      零基础快速入门草图和特征建模，还有钣金、管路、焊件和电气模块。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="立即开始学习"
    items={[
      {
        title: 'Step 1: <span class="font-medium">购买课程</span>',
        description:
          '积木好课所有课程均为一次付费终身学习，购买后不限时间、不限次数学习，并且不绑定电脑设备，手机、平板和电脑均可学习。',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">添加老师</span>',
        description:
          '我们的老师提供真人答疑，你不需要在自己研究和搜索遇到的任何学习问题，专业的老师会帮你节省大量时间。',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">对照操作和练习</span>',
        description: '对照视频学习软件操作技能，并且根据提供的工程文件进行练习操作，实际上手做出项目。',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  <Pricing
    title="AutoCAD视频课程"
    prices={[
      {
        title: '二维制图',
        subtitle: '从零开始包含所有二维制图相关技术。',
        price: 50,
        period: '永久有效',
        callToAction: {
          target: '_blank',
          text: '购买二维',
          href: '#',
        },
      },
      {
        title: '三维建模',
        subtitle: 'Premium templates and advanced customization',
        price: 60,
        period: '永久有效',
        callToAction: {
          target: '_blank',
          text: '购买三维建模',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: '高级渲染',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '永久有效',
        callToAction: {
          target: '_blank',
          text: '购买高级渲染',
          href: '#',
        },
      },
    ]}
  />
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="案例和技术文档" />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题"
    subtitle="整理学员朋友们的常见问题"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '购买后如何学习？',
        description:
          '积木好课的课程根据您选购的平台不同，具体学习方式不同。比如淘宝教育，您购买购直接点击我的订单-更多-开始学习即可。其他平台购买后直接点击开始学习即可。',
      },
      {
        title: '有技术问题如何答疑？',
        description: '通过客服直接添加老师本人进行答疑，或者在本站导航“联系站长”找到老师添加即可。',
      },
      {
        title: '课程是否有有效期限制？',
        description: '积木好课的所有课程均为永久有效，没有设置任何期限，请放心学习。',
      },
      {
        title: '能否让老师代画？',
        description: '如果你时间紧张，我们提供有偿代画服务，请将需求告知老师。',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: '学员访问', amount: '23k' },
      { title: '课时总数', amount: '>500' },
      { title: '线下人数', amount: '>8k' },
      { title: '专业教龄', amount: '13年' },
    ]}
  />
</Layout>
